<div>

    <h2>DETALLES DE LA MOVIE</h2>

     {{#with this.moviesDetails}}

      <h4>Titulo: {{title}}</h4>
      <h4>Genero: {{genre}}</h4>
      <h4>Trama: {{plot}}</h4>

    {{#each cast}}
<h4> nombre {{this.name}} </h4>
  <h4>  puesto {{this.occupation}} </h4>
   <h4>  eslogan {{this.catchPhrase}}</h4>
    {{/each}}
    {{/with}}
    <button>Ir a Actualizar</button>
</div>